body, .bg-primary-gradient {
  background: linear-gradient(130deg, #5A338E 0%, #37255F 35%, #281840 90%);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.hover-tab{
  border-radius: 50%;
  box-shadow: 0 0 15px #a200ff;
  text-shadow: 0 0 15px #ffee10;
  background-color: white;
}

.hover-tab-green{
  border-radius: 50%;
  box-shadow: 0 0 15px #43e296;
  text-shadow: 0 0 15px #ffee10;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h-128 {
  height: 32rem;
}	

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.initial {
  display: unset;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.subscribersText{
  border:1px solid #291942;
  margin:10px 0;
  padding: 10px;
}

p.encryptedText{
  display:none;
}
