@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: theme('colors.palette.white');
    --color-grey: theme('colors.palette.grey');
    --color-grey-dark: theme('colors.palette.greyDark');
    --color-black: theme('colors.palette.black');
    --color-navy: theme('colors.palette.navy');
    --color-navy-dark: theme('colors.palette.navyDark');
    --color-navy-light: theme('colors.palette.navyLight');
    --color-green: theme('colors.palette.green');
    --color-green-dark: theme('colors.palette.greenDark');
    --color-green-light: theme('colors.palette.greenLight');
    --color-blue-primary: theme('colors.palette.bluePrimary');
    --color-blue: theme('colors.palette.blue');
    --color-blue-dark: theme('colors.palette.blueDark');
    --color-blue-light: theme('colors.palette.blueLight');
    --color-pink: theme('colors.palette.pink');
    --color-pink-light: theme('colors.palette.pinkLight');
}
