@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-navy: theme('colors.palette.navy');
  --color-navy-dark: theme('colors.palette.navyDark');
  --color-navy-light: theme('colors.palette.navyLight');
  --color-green: theme('colors.palette.green');
  --color-green-dark: theme('colors.palette.greenDark');
  --color-green-light: theme('colors.palette.greenLight');
  --color-blue-primary: theme('colors.palette.bluePrimary');
  --color-blue: theme('colors.palette.blue');
  --color-blue-dark: theme('colors.palette.blueDark');
  --color-blue-light: theme('colors.palette.blueLight');
  --color-pink: theme('colors.palette.pink');
  --color-pink-light: theme('colors.palette.pinkLight');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}